<div class="main-carousel" data-flickity='{ "wrapAround": true,"autoplay": true }'>
    {{#each carousel}}
    <div class="carousel-cell">
        <a href="">
            <img class="banner" src="{{this.imgUrl}}" height="250px" width="100%">
        </a>
    </div>
    {{/each}}
</div>

