<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmyshow</title>
    <meta name="description" content="It is Clone of official website of BookMyShow. IT develop for educational purpose only.">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://book-my-show-clone-akash.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="BookMyShow Clone">
    <meta property="og:description" content="It is Clone of official website of BookMyShow. IT develop for educational purpose only.">
    <meta property="og:image" content="https://book-my-show-clone-akash.vercel.app/images/website1.png">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="epic-clone-akash.vercel.app">
    <meta property="twitter:url" content="https://book-my-show-clone-akash.vercel.app/">
    <meta name="twitter:title" content="BookMyShow Clone">
    <meta name="twitter:description" content="It is Clone of official website of BookMyShow. IT develop for educational purpose only.">
    <meta name="twitter:image" content="https://book-my-show-clone-akash.vercel.app/images/website1.png">

    <link rel="stylesheet" href="/css/tp2.css">
    <link rel="stylesheet" href="/css/flicity.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" media="screen">
    <link rel="stylesheet" href="/css/slider2.css">
    <link rel="stylesheet" href="/css/slider3.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    {{>navbar }}

    <div class="body_of_content">
        {{>slider_1 data=carousel}}

        <div class="recom">
            <div class="recom_text">
                <h2>Recommended Movies</h2>
            </div>
            <div class="recom_redirect_movies">
                <a id="recom_redirect_movies" href="/movies">See All</a>
            </div>
        </div>


        {{>slider_2 slider=slider}}

        <div class="stream">
            <img id="stream"
                src="https://assets-in.bmscdn.com/discovery-catalog/collections/tr:w-1440,h-120:q-80/stream-leadin-web-collection-202210241242.png"
                alt="">
        </div>

        {{>slider_3 ev_slider=ev_slider}}

        <div class="prem-slider">
            <div class="premiere">
                <div class="prem-lab">
                    <!-- <label for="">PREMIERE</label> -->
                    <img id="prem-img" src="/images/premiere-banner.jpg" alt="">
                </div>
            </div>
            <div class="premeres">
                <div class="prem-leb2">
                    <label for="" id="prem-lab2">Premieres</label>
                </div>
                <div class="prem-leb3">
                    <label for="" id="prem-lab3">Brand new releases every Friday</label>
                </div>
            </div>

            <div class="baba">
                <div class="carousel">
                    <div class="track">
                        <div class="card">
                            <img class="Slider12"
                                src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/avatar-the-way-of-water-et00037264-1670850986.jpg">
                            <div class="leb-name-white">
                                <label for="name-prem" id="name-prem">Avtar:The Way of Water</label>
                            </div>
                            <div class="leb-jo">
                                <label for="prem-lang" id="prem-lang">Action/Adventure/Fantasy/Sci-Fi</label>
                            </div>
                        </div>
                        <div class="card">
                            <img class="Slider12"
                                src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/drishyam-2-et00331997-1667547668.jpg">
                            <div class="leb-name-white">
                                <label for="name-prem" id="name-prem">Drishyam 2</label>
                            </div>
                            <div class="leb-jo">
                                <label for="prem-lang" id="prem-lang">Drama/Mystery/Thriller</label>
                            </div>
                        </div>
                        <div class="card">
                            <img class="Slider12"
                                src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/aum-mangalam-singlem-et00343399-1667194163.jpg">
                            <div class="leb-name-white">
                                <label for="name-prem" id="name-prem">Aum Mangalam Singlem</label>
                            </div>
                            <div class="leb-jo">
                                <label for="prem-lang" id="prem-lang">Comedy/Romantic</label>
                            </div>
                        </div>
                        <div class="card">
                            <img class="Slider12"
                                src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/big-dhamaka-et00342968-1666345523.jpg">
                            <div class="leb-name-white">
                                <label for="name-prem" id="name-prem">Big Dhamaka</label>
                            </div>
                            <div class="leb-jo">
                                <label for="prem-lang" id="prem-lang">Action/Comedy/Drama</label>
                            </div>
                        </div>
                        <div class="card">
                            <img class="Slider12"
                                src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/uunchai-et00335262-1665386678.jpg">
                            <div class="leb-name-white">
                                <label for="name-prem" id="name-prem">Uunchai</label>
                            </div>
                            <div class="leb-jo">
                                <label for="prem-lang" id="prem-lang">Adventure/Drama/Family</label>
                            </div>
                        </div>
                        <div class="card">
                            <img class="Slider12"
                                src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@star-icon-202203010609.png,ox-24,oy-615,ow-29:ote-OC41LzEwICBOZXcgUmVsZWFzZQ%3D%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00348201-zzbylxyxae-portrait.jpg">
                            <div class="leb-name-white">
                                <label for="name-prem" id="name-prem">Jhalhalti Savar</label>
                            </div>
                            <div class="leb-jo">
                                <label for="prem-lang" id="prem-lang">Drama</label>
                            </div>
                        </div>
                        <div class="card">
                            <img class="Slider12"
                                src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/bhediya-et00312739-1669100599.jpg">
                            <div class="leb-name-white">
                                <label for="name-prem" id="name-prem">Bhediya</label>
                            </div>
                            <div class="leb-jo">
                                <label for="prem-lang" id="prem-lang">Comedy/Thriller</label>
                            </div>
                        </div>
                        <div class="card">
                            <img class="Slider12"
                                src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/connect-hindi-et00348709-1672228648.jpg">
                            <div class="leb-name-white">
                                <label for="name-prem" id="name-prem">Connect</label>
                            </div>
                            <div class="leb-jo">
                                <label for="prem-lang" id="prem-lang">Horror/Thriller</label>
                            </div>
                        </div>
                        <div class="card">
                            <img class="Slider12"
                                src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/black-panther-wakanda-forever-et00310792-1666006244.jpg">
                            <div class="leb-name-white">
                                <label for="name-prem" id="name-prem">Black Panther:Wakanda...</label>
                            </div>
                            <div class="leb-jo">
                                <label for="prem-lang" id="prem-lang">Action/Adventure/Drama</label>
                            </div>
                        </div>
                        <div class="card">
                            <img class="Slider12"
                                src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/kantara-hindi-et00342025-1665304124.jpg">
                            <div class="leb-name-white">
                                <label for="name-prem" id="name-prem">Kantara(Hindi)</label>
                            </div>
                            <div class="leb-jo">
                                <label for="prem-lang" id="prem-lang">Adventure/Drama/Thriller</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav">
                    <div class="arrow right material-icons"><span>keyboard_arrow_right</span></div>
                    <div class="arrow left material-icons"><span>keyboard_arrow_left</span></div>
                </div>
            </div>
        </div>

        <div class="laughter">
            <div class="laugh-box">
                <div class="laugh-therapy">
                    <label for="" id="laugh-th">Events Happening Near You</label>
                </div>
            </div>
            
            {{>slider_2 slider=slider}}     

        </div>

        <div class="laughter">
            <div class="laugh-box">
                <div class="laugh-therapy">
                    <label for="" id="laugh-th">Laughter Therapy</label>
                </div>
            </div>
            
            {{>slider_2 slider=slider}}

        </div>
        <div class="home_redirect" style="margin-top: 2rem;">
            <div class="cont3">
                <a id="navlink" href="/">Home</a>
                <a id="navlink" href="">&#8594;</a>
                <a id="navlink" href="/movies">Movies</a>
            </div>
        </div>
    </div>
    {{>footer}}

    <script src="/js/tp2.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/js/slider2.js"></script>
    <script src="/js/slider3.js"></script>

</body>

</html>