<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmyshow - Movies</title>
    <meta name="description" content="It is Clone of official website of BookMyShow. IT develop for educational purpose only.">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://book-my-show-clone-akash.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="BookMyShow Clone">
    <meta property="og:description" content="It is Clone of official website of BookMyShow. IT develop for educational purpose only.">
    <meta property="og:image" content="https://book-my-show-clone-akash.vercel.app/images/website1.png">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="epic-clone-akash.vercel.app">
    <meta property="twitter:url" content="https://book-my-show-clone-akash.vercel.app/">
    <meta name="twitter:title" content="BookMyShow Clone">
    <meta name="twitter:description" content="It is Clone of official website of BookMyShow. IT develop for educational purpose only.">
    <meta name="twitter:image" content="https://book-my-show-clone-akash.vercel.app/images/website1.png">

    <link rel="stylesheet" href="/css/tp2.css">
    <link rel="stylesheet" href="/css/flicity.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" media="screen">
    <link rel="stylesheet" href="/css/slider2.css">
    <link rel="stylesheet" href="/css/movies.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    .searchbar input {
        height: 4.5vh;
        width: 37vw;
    }

    .nav2box2 {
        display: inline-flex;
        justify-content: flex-end;
        margin-left: -3vh;
        width: 51%;
    }
</style>

<body>

    {{>navbar}}

    {{>slider_1 data=carousel}}

    {{>template slider=slider}}

    {{>footer}}

    <script src="/js/tp2.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/js/slider2.js"></script>
    <script src="/js/slider3.js"></script>
    <script>
        const dropdownBtn = document.getElementById("btn");
        const dropdownMenu = document.getElementById("dropdown2");
        const toggleArrow = document.getElementById("arrow2");

        // Toggle dropdown function
        const toggleDropdown = function () {
            dropdownMenu.classList.toggle("show");
            toggleArrow.classList.toggle("arrow2");
        };

        // Toggle dropdown open/close when dropdown button is clicked
        dropdownBtn.addEventListener("click", function (e) {
            e.stopPropagation();
            toggleDropdown();
        });

        // Close dropdown when dom element is clicked
        document.documentElement.addEventListener("click", function () {
            if (dropdownMenu.classList.contains("show")) {
                toggleDropdown();
            }
        });

    </script>
</body>

</html>