<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is stream</title>
    <link rel="stylesheet" href="/css/tp2.css">
    <link rel="stylesheet" href="/css/flicity.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" media="screen">
    <link rel="stylesheet" href="/css/slider2.css">
    <link rel="stylesheet" href="/css/slider3.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    {{>navbar}}

    {{>footer}}
</body>
</html>